body{
    font-family: 'Open Sans', sans-serif;

    background-image: url("../images/backimga.webp");
    background-color: lightcoral;
    background-attachment:fixed;
    background-size: cover;
    background-position:center;
    padding-top: 137px;
}

.navbar-brand {
    font-family: 'Baloo', cursive;
    font-size: 30px;
}

/* Header */
header #header{
    margin-top:2%;
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
}

header #login a{
    color:white;
}

#login :hover{
    color: lightslategrey;
}

#login :focus{
    color: darkslategrey;
}

.menu{
    float:right;
}

.btn-default{
    background-color: rgb(225,121,89);
    display:block;
}

/* Side menu */

.aside-user-buttons {
    padding: 20px;
    background-color: rgba(43,163,141, 0.8);
    padding-bottom: 50px;
    margin-top: 75px;
    position: fixed;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: rgb(43,163,141);
    background-color: rgb(215,243,235);
    border-color: white;
}

.list-group-item {
    background-color: rgb(43,163,141);
    border: 1px solid white;
    font-size: 1.8rem;
    margin-top: 5px;
}

a.list-group-item {
    color: white;
    text-align: center;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: rgb(43,163,141);
    background-color: rgb(215,243,235);
}

.btn-lg {
    padding: 50px 10px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 50%;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.btn-primary {
    background-color:  rgba(43,163,141, 1);
    border-color: white;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.focus, .btn-primary:focus {
    color: rgb(43,163,141);
    background-color: rgb(215,243,235);
    border-color: white;
}



/* Footer */
#footer{
    margin-bottom: 2%;
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
}


/* */

.navbar {
    margin-bottom: 0px;
    background-color: rgb(245, 245, 220);
}